<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGameLabel">Create or edit a Game</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!game.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="game.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="game.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ndlvalue">Ndlvalue</label>
            <input type="number" class="form-control" name="ndlvalue" id="field_ndlvalue"
                [(ngModel)]="game.ndlvalue"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_strategicvalue">Strategicvalue</label>
            <input type="number" class="form-control" name="strategicvalue" id="field_strategicvalue"
                [(ngModel)]="game.strategicvalue"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_width">Width</label>
            <input type="number" class="form-control" name="width" id="field_width"
                [(ngModel)]="game.width"
            required />
            <div [hidden]="!(editForm.controls.width?.dirty && editForm.controls.width?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.width?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.width?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_height">Height</label>
            <input type="number" class="form-control" name="height" id="field_height"
                [(ngModel)]="game.height"
            required />
            <div [hidden]="!(editForm.controls.height?.dirty && editForm.controls.height?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.height?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.height?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_board">Board</label>
            <input type="text" class="form-control" name="board" id="field_board"
                [(ngModel)]="game.board"
            required />
            <div [hidden]="!(editForm.controls.board?.dirty && editForm.controls.board?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.board?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_goals">Goals</label>
            <input type="text" class="form-control" name="goals" id="field_goals"
                [(ngModel)]="game.goals"
            required />
            <div [hidden]="!(editForm.controls.goals?.dirty && editForm.controls.goals?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.goals?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="field_piece">Piece</label>
            <select class="form-control" id="field_piece" multiple name="piece" [(ngModel)]="game.pieces">
                <option [ngValue]="getSelected(game.pieces, pieceOption)" *ngFor="let pieceOption of pieces; trackBy: trackPieceById">{{pieceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
