
<div *ngIf="piece">
    <h2><span>Piece</span> {{piece.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{piece.name}}</span>
        </dd>
        <dt><span>Regex</span></dt>
        <dd>
            <span>{{piece.regex}}</span>
        </dd>
        <dt><span>Value</span></dt>
        <dd>
            <span>{{piece.value}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'piece-sbg/'+ piece.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
